* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: $typeface-main;

    @media only screen and (max-width: $bp-1100) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-420) {
        font-size: 40%;
    }

    @media only screen and (max-width: $bp-340) {
        font-size: 33%;
    }
}

.body {
    overflow-x: hidden;
}

h1, h2, p {
    cursor: default;
}
