* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: $typeface-main;

    @media only screen and (max-width: $bp-1100) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-420) {
        font-size: 40%;
    }
}