// VARIABLES //

$bg-color: #EBFEFF;
$color-primary: #DDF0F1;
$color-accent: #FF6584;
$color-text-secondary: #6A7273;
$color-white: #fff;
$color-footer: #D4E5EE;

$typeface-main: 'Raleway', sans-serif;
$typeface-display: 'Montserrat', sans-serif;

// VARIABLES //


//BREAKPOINTS

$bp-1400: 1400px;
$bp-1200: 1200px;
$bp-1100: 1100px;
$bp-1000: 1000px;
$bp-960: 960px;
$bp-830: 830px;
$bp-570: 570px;
$bp-420: 420px;

//BREAKPOINTS


// MIXINS //

@mixin spaceY {
    padding: 12rem 0;
}

@mixin backgroundWave ($position) {
    background-image: url("../images/illustartions/wave.svg");
    background-repeat: no-repeat;
    background-position: $position;
}

@mixin shadowBox {
    box-shadow: 5px 5px 15px rgba(0,0,0, 0.18);
}

@mixin columnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// MIXINS //