.header {
    display: grid;
    background-image: url("../images/illustartions/header.svg");
    background-repeat: no-repeat;
    background-position: right -4vw bottom;

    @media only screen and (max-width: $bp-1200) {
        background-position: right -10vw bottom;
    }

    @media only screen and (max-width: $bp-420) {
        background-position: right -15vw bottom;
        background-size: 130%;
    }  

    &__group {
        justify-self: center;
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__heading {
        text-transform: uppercase;
        font-family: $typeface-display;
        font-size: 9rem;

        @media only screen and (max-width: $bp-960) {
            font-size: 7rem;
        }
    }

    &__heading-secondary {
        font-size: 1.8rem;
        max-width: 60ch;
        margin: 2rem auto;
        margin-bottom: 4rem;
        line-height: 1.5;
        
        @media only screen and (max-width: $bp-570) {
            max-width: 50ch;
        }
    }

    &__btn {
        font-size: 2.4rem;
        color: $color-white;
        border: none;
        border-radius: 3px;
        background-color: $color-accent;
        padding: 2rem 7rem;
        cursor: pointer;
    }
}